.cont
{
	height: 100vh;
	width: 100%;
	background-image:url("bg.png");
	background-size: cover;
	background-position: center;
	position: relative;
	font-family:Arial,Helvetica,sans-serif;
}
.cont1
{
	height: 100vh;
	width: 100%;
	background-image:url('p1.png');
	opacity:0.8;
	background-size: cover;
	background-position: center;
	position: relative;
	font-family:Arial,Helvetica,sans-serif;
}
.nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 30px 80px;
	
}

.menu li{
	list-style: none;
	display: inline-block;
}
.menu li a{
	text-decoration: none;
	color:#e75480;
	font-size: 20px;
	margin-left: 15px;
	font-weight: 600;
		
		
}
.menu li a:hover{
	color:#6cbb3c;
	padding: 10px 20px;
	border: 2px solid #e75480;
	border-radius:20px;

}
.h1
{
	font-size:18px;
	color:#e75480;
	
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
	color:#6cbb3c;
}
.abc
{
	font-size: 40px;
	color: #e75480;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: oblique;
	text-align:center;
}
.xyz
{

	font-size: 20px;
	color:#e75480;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: oblique;
	text-align:center;
}
.card
{
	height:500px;
	width:600px;
	margin-left:350px;
	margin-top:80px;
	
}
.p
{
	font-size:30px;
	font-style: italic;
	color:#e75480;
}
.button
{
	height: 40px;
	color:#6cbb3c;
    background:#e75480;
	font-size: 22px;
	padding:5px 30px;
	margin-top:20px;
	margin-left:175px;
	border: none;
	border-radius:5px;
	
	cursor: pointer;
	
}
.button:hover{
	background: none;
	border: 2px solid crimson;
}
.img1
{
    padding-top: 30px;
	margin-bottom: 30px;

}

.div1
{
    background-color:#e75480;
	
}
.outer
{
    margin-left:250px;
    display:grid;
    grid-template-columns:repeat(3,260px);
    grid-auto-rows:330px;
    grid-gap:15px;
      
}
.image
{
    height:260px;
    width:240px;
    padding-top:10px;
    padding-left:10px;
    padding-right:5px;
	align-items:center;
    border-radius:180px;
}
.h
{
	color:#6cbb3c;
	font-size:30px;
	font-style: italic;
	text-align:center;
	
}
.btn
{
	background-color: #b65fcf;
	margin-top: 10px;
	height: 30px;
	border-radius: 30%;
	margin-top: 3%;
	color:white;


}
.btn:hover{
	background-color: transparent;
	border:#e75480;
}
form
{
	background:crimson;
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width:40%;
	max-width: 6000px;
	border-radius: 10px;
	
}
form h3{
	color:black;
	font-weight:800;
	margin-bottom: 20px;
}
form input,textarea{
	border:0;
	margin:10px 0;
	padding:20px;
	outline:none;
	background-color:#F3E3C3;
	font-size:16px;
	color:black;
}
form button
{
	padding:15px;
	background-color:black;
	color: white;
	font-size:15px;
	border: 0;
	outline:none;
	cursor: pointer;
	width:150px;
	margin:20px auto 0;
	border-radius: 30px;
}